img.logo{
  padding-inline: 5px;
  margin: 0px;
  width: 50px; height: 50px;
}

img.profile-pic{
  width: 150px; height: 150px;
  border-radius: 100%;
}

.card{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 30px;
}

#game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
  width: 800px;
  height: 600px;
  background: #000; 
}

header{
  padding: 0px 16px;
  margin: -10px;
  display: flex; 
  align-items: center;
  background-color: antiquewhite;
  justify-content: space-between;
}

footer{
  text-align: center;
  padding: 32px;
  height: 30px;
  margin: -10px;
  display: flex;
  align-items: center;
  background-color: antiquewhite;
  justify-content: space-between;
}

body{
  background-color: rgb(60, 60, 60);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

h1
{
  font-family: 'Sansation';
  font-size: 24px;
  padding-inline: 5px;
  color: brown;
}

h2, h3{
  margin: 30px;
  font-family: sans-serif;
  font-size: 32px;
  text-align: center;
  color: antiquewhite;
}

p.text{
  font-family: sans-serif;
  font-size: 16px;
  text-align: center;
  color: rgb(210, 199, 183);
}

footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer > p{
  font-family: sans-serif;
  font-size: 16px;
  text-align: center;
  color: brown;
}

a{
  font-family: sans-serif;
  font-size: 16px;
  text-align: center;
  color: brown;
}

@font-face {
  font-family: MicroChat;
  src: url("assets/fonts/Micro_Chat.ttf");
}
@font-face {
  font-family: FableFont;
  src: url("assets/fonts/Fabled_Font.ttf");
}